{% form_theme form '@CookieConsent/form/cookie_consent_theme.html.twig' %}

{% block script %}
    <script type="text/javascript" src="{{ asset('bundles/cbcookieconsent/js/cookie_consent.js') }}"></script>
{% endblock %}

<div id="cookieconsent" class="modal cb-cookie-consent" tabindex="-1" data-cb-open="{{ cbcookieconsent_isCookieConsentOpenByDefault(app.request.attributes.get('_route')|default(''), disabled_routes) }}" {{ stimulus_target('cookie_consent_modal', 'open') }}>
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            {% block title %}
                <div class="modal-header">
                    <h5 class="modal-title fw-bold cb-cookie-consent__title">{{ 'cookie_consent.title'|trans({}, 'CookieConsentBundle') }}</h5>
                </div>
            {% endblock %}
            <div class="modal-body">
                {% block intro %}
                    <p class="cb-cookie-consent__intro">{{ 'cookie_consent.intro'|trans({}, 'CookieConsentBundle') }}</p>
                {% endblock %}

                {% block read_more %}
                    {% if 'cookie_consent.privacy_route'|trans({}, 'CookieConsentBundle') %}
                        <a class="btn btn-link text-decoration-none cb-cookie-consent__read-more" href="{% block read_more_link %}{{ path('cookie_consent.privacy_route'|trans({}, 'CookieConsentBundle')) }}{% endblock %}">{{ 'cookie_consent.read_more'|trans({}, 'CookieConsentBundle') }}</a>
                    {% else %}
                        <p>{{ 'cookie_consent.read_more'|trans({}, 'CookieConsentBundle') }}</p>
                    {% endif %}
                {% endblock %}

                {{ form_start(form, {'attr': {'class': 'mt-4 cb-cookie-consent__form'}}) }}
                    <div class="cb-cookie-consent__category-group">
                        <div class="row cb-cookie-consent__category-row">
                            {% for child in form %}
                                {% if child.vars.block_prefixes[0] != 'button' %}
                                    {{ form_row(child) }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="d-flex justify-content-end my-3 cb-cookie-consent__btn-group">
                        {{ form_rest(form) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

